#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#allChart svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 110%;
}

a {

}

#generalLink, #monthlyLink {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 110%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	/*padding-top: 20px;*/
	margin-top: 50px;	
}